<!-- Gráfico de barras que muestra lo que más se ha perdido -->
<h2>Lo que más se ha perdido</h2>
<div id="lostChart">
  <div class="bar" style="height: 70%;"></div>
  <div class="bar" style="height: 52%;"></div>
  <div class="bar" style="height: 90%;"></div>
</div>
<table>
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Teléfono móvil</td>
      <td>120</td>
    </tr>
    <tr>
      <td>Portátil</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Billetera</td>
      <td>200</td>
    </tr>
  </tbody>
</table>

<!-- Gráfico de barras que muestra lo que más se ha recuperado -->
<h2>Lo que más se ha recuperado</h2>
<div id="recoveredChart">
  <div class="bar" style="height: 50%;"></div>
  <div class="bar" style="height: 30%;"></div>
  <div class="bar" style="height: 80%;"></div>
</div>
<table>
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Teléfono móvil</td>
      <td>80</td>
    </tr>
    <tr>
      <td>Portátil</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Billetera</td>
      <td>150</td>
    </tr>
  </tbody>
</table>

<!-- Gráfico de barras que muestra los objetos más consultados -->
<h2>Objetos más consultados</h2>
<div id="popularChart">
  <div class="bar" style="height: 70%;"></div>
  <div class="bar" style="height: 60%;"></div>
  <div class="bar" style="height: 40%;"></div>
</div>
<table>
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Teléfono móvil</td>
      <td>400</td>
    </tr>
    <tr>
      <td>Portátil</td>
      <td>350</td>
    </tr>
    <tr>
      <td>Billetera</td>
      <td>250</td>
    </tr>
  </tbody>
</table>

<!-- Gráfico de barras que muestra los objetos recuperados -->
<h2>Objetos recuperados</h2>
<div id="recoveredItemsChart">
  <div class="bar" style="height: 25%;"></div>
  <div class="bar" style="height: 15%;"></div>
  <div class="bar" style="height: 40%;"></div>
</div>
<table>
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Teléfono móvil</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Portátil</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Billetera</td>
      <td>80</td>
    </tr>
  </tbody>
</table>