
<section class="joinnow">
    <h1 class="text-center mb-5">Sobre Nosotros</h1>
    <p>
        En nuestro sitio web nos dedicamos a ayudar a las personas a encontrar objetos extraviados. Nuestra misión es facilitar la recuperación de pertenencias perdidas mediante una plataforma en línea fácil de usar y accesible para todos.
    </p>
    <p>
        Sabemos lo frustrante que puede ser perder algo importante, y también sabemos lo difícil que puede ser recuperar ese objeto si no tienes los recursos adecuados. Es por eso que creamos esta herramienta para ayudar a conectar a quienes encuentran objetos perdidos con sus dueños legítimos.
    </p>
    <p>
        Si has perdido algo, ¡estás en el lugar correcto! Explora nuestra lista de objetos extraviados y, si ves algo que te pertenece, contactalo para recuperar el objeto lo antes posible.
    </p>

    <div class="follow text-center">
        <h4>Síguenos</h4>
        <a class="facebook" href="#">Facebook</a>
        <a class="youtube" href="#">Youtube</a>
        <a class="instagram" href="#">Instagram</a>
        <a class="twitter" href="#">WhatsApp</a>
      </div>

</section>

