<section class="course">
  <div class="container">
    <h1 class="text-center">Objetos Encontrados</h1>
<input type="text" [(ngModel)]="searchTerm" placeholder="Buscar...">
    <ul class="search-box">
      <li><a (click)="setCategory('')"><i class="fas fa-search"></i>Todo</a></li>
      <li><a  (click)="setCategory('CUADERNOS')"><i class="fas fa-search"></i>CUADERNOS</a></li>
      <li><a (click)="setCategory('LAPICES')"><i class="fas fa-search"></i>LAPICES</a></li>
      <li><a  (click)="setCategory('BOLIGRAFOS')"><i class="fas fa-search"></i>BOLIGRAFOS</a></li>
      <li><a  (click)="setCategory('GOMAS')"><i class="fas fa-search"></i>GOMAS</a></li>
      <li><a  (click)="setCategory('MOCHILAS')"><i class="fas fa-search"></i>MOCHILAS</a></li>
      <li><a  (click)="setCategory('CELULARES')"><i class="fas fa-search"></i>CELULARES</a></li>
      <li><a (click)="setCategory('CREDENCIALES')"><i class="fas fa-search"></i>CREDENCIALES</a></li>
      <li><a  (click)="setCategory('OTROS')"><i class="fas fa-search"></i>OTROS</a></li>
    </ul>

    <div class="d-flex flex-wrap">
      <div class="col-lg-4 mb-5" *ngFor="let item of filteredItems">
        <div class="box shadow-sm" id="{{item.id}}">
          <img src="{{item.image}}" width="100%">
          <h4 class="mt-2">{{item.name}}</h4>
          <p class="mt-2">{{item.description}}</p>
    
          <!-- Agrega una sección adicional para los detalles -->
          <div *ngIf="selectedItem === item">
            <p>Encontrado por: {{ selectedItemInfo.foundBy }}</p>
            <p>Teléfono de contacto: {{ selectedItemInfo.cellphone }}</p>
            <!-- Agrega cualquier otro detalle que quieras mostrar -->
          </div>
    
          <!-- Actualiza el botón "Ver Más" para mostrar el modal cuando se hace clic en él -->
          <button class="btn btn-primary btn-sm mt-2" (click)="showDetails(item)">Ver Más</button>
        </div>
      </div>
    </div>
    
    <!-- Agrega un div para el modal y ocúltalo inicialmente con CSS -->
    <div id="myModal" class="modal" style="display:none;">
      <div class="modal-content">
        <span class="close" (click)="hideDetails()">&times;</span>
        <p>Detalles del objeto seleccionado:</p>
        <p>Nombre: {{selectedItem?.name}}</p>
        <p>Descripción: {{selectedItem?.description}}</p>
        <!-- Agrega cualquier otro detalle que quieras mostrar -->
      </div>
    </div>
  </div>
</section>
