<section class="course">
  <div class="container">
    <h1 class="text-center">Objetos Extraviados</h1>
<input type="text" [(ngModel)]="searchTerm" placeholder="Buscar...">
    <ul class="search-box">
      <li><a (click)="setCategory('')"><i class="fas fa-search"></i>Todo</a></li>
      <li *ngFor="let cat of categorias"><a (click)="setCategory(cat)"><i class="fas fa-search"></i>{{cat}}</a></li>
    </ul>

    <div class="row mt-5">
      <div class="col-lg-3 mb-5" *ngFor="let item of filteredItems">
        <div class="box shadow-sm">
          <img src="{{item.image}}" width="100%">
          <h4 class="mt-2">{{item.name}}</h4>
          <p class="mt-2">{{item.description}}</p>
          <button class="btn btn-primary btn-sm mt-2">Ver Mas</button>
        </div>
      </div>
    </div>
  </div>
</section>
