.joinnow {
  background-color: #eff6ff;
  padding: 3% 5%;
}
.card-header {
  border-bottom: none;
}

label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.custom-file-label::after {
  content: "Examinar";
}

.image-result-container {
  margin-top: 10px;
}

.resultado-imagen {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
